<!-- We include the menu as it is shared across several screens.  -->
<ng-include src="'partials/menu.html'" ng-controller="MenuCtrl"></ng-include>

<div class="outerContainer">
	<div class="container bg-1 text-center">
		<h1>Dubbelspexet 2017!</h1>
		<p> För nuvarande söker vi medlemmar till spexet, så om du är intresserad tveka inte på att ansöka! </p>
		<p><a href="https://goo.gl/forms/gM6gt3lxM1CXniyR2 ">Klicka här för intresseanmälan!</a></p>
	</div>

	<div class="container-fluid bg-3 text-center"> 
	  <h3>Våra senaste bilder!</h3>

	  <!--RAD1-->
	  <div class="rowGroup">
	  <div class="row">
	    <div class="col-sm-4">
	      <p>Direktionen är och upplever Jubelspexet, ett av våra fantastiska vänspex.
	Det är ett av många spex som sätter upp nu i vår och vi ska försöka se alla!</p>
	    </div>
	    <div class="col-sm-4">
	      <p>På spexmötet idag valdes Mollie till DireKTHrece tillika ordförande för resten av verksamhetsåret och Joakim till Producent, med målsättningen en uppsättning i höst!</p>
	    </div>
	    <div class="col-sm-4"> 
	      <p>Såhär tacksamma är Kören för en grym premiär och fantastisk publik igår! </p>
	    </div>
	  </div>

	  <div class="row">
	    <div class="col-sm-4">
	      <img src="/photos/jubelspex.jpg" style="size:width:200px;height:200px;">
	    </div>
	    <div class="col-sm-4">
	      <img src="/photos/direktionen.jpg" style="size:width:200px;height:200px;">
	    </div>
	    <div class="col-sm-4"> 
	      <img src="/photos/kören.jpg" style="size:width:200px;height:200px;">
	    </div>
	  </div>
	  </div>

	  <!--RAD2-->
	  <div class="rowGroup">
	  <div class="row">
	    <div class="col-sm-4">
	      <p>1,5 h kvar och var gömmer sig dekisgruppen? Spring ni hinner fortfarande till Skarpnäck!!! Biljetter kommer gå att köpa på plats, kom i god tid</p>
	    </div>
	    <div class="col-sm-4">
	      <p>Här sitter regissören och undrar hur man tar sig till premiären. Du har väl koll på det?</p>

		<p>Ta gröna tunnelbanan till Skarpnäck. När du kommer ut från stationen, sväng höger och gå ca 300 meter. FRAMME vid Skarpnäcks kulturhus</p>
	    </div>
	    <div class="col-sm-4"> 
	      <p>Snart är det premiär och föreställningshelg, som vi och ni har väntat! 🎉 Som grädden på moset har vi äntligen fått våra efterlängtade gudomligt fina DubbelSpextröjor! Tack Vattenfall 💛</p>
	    </div>
	  </div>

	  	  <div class="row">
	    <div class="col-sm-4">
	      <img src="/photos/dekis.jpg" style="size:width:200px;height:200px;">
	    </div>
	    <div class="col-sm-4">
	      <img src="/photos/regi.jpg" style="size:width:200px;height:200px;">
	    </div>
	    <div class="col-sm-4"> 
	      <img src="/photos/tröjor.jpg" style="size:width:200px;height:200px;">
	    </div>
	  </div>
	  </div>

	  <!--RAD3-->
	  <div class="rowGroup">
	   <div class="row">
	    <div class="col-sm-4">
	      <p>Här väntar manus på premiären, du missar väl inte den?</p>
	    </div>
	    <div class="col-sm-4">
	      <p>Såhär förbereder sig FeTris på premiären, hur förbereder du dig?</p>
	    </div>
	    <div class="col-sm-4"> 
	      <p>Här tränar Direktionen på att skratta! Hur tränar du inför premiären?</p>
	    </div>
	  </div>

	   <div class="row">
	    <div class="col-sm-4">
	      <img src="/photos/manus.jpg" style="size:width:200px;height:200px;">
	    </div>
	    <div class="col-sm-4">
	      <img src="/photos/fetris.jpg" style="size:width:200px;height:200px;">
	    </div>
	    <div class="col-sm-4"> 
	      <img src="/photos/direktionen1516.jpg" style="size:width:200px;height:200px;">
	    </div>
	  </div>
	  </div>

	  <!--RAD4-->
	  <div class="rowGroup">
	  <div class="row">
	    <div class="col-sm-4">
	      <p>Såhär taggade är Dansgruppen på Premiären! Hur taggad är du? </p>
	    </div>
	    <div class="col-sm-4">
	      <p>Snaaaart är det dags för biljettsläpp, men fram till dess boka in 14 och 15 maj kl 15.00 för årets föreställing Orfeus och Eurydike ...eller bara döda själar följer strömmen!!! RINGA IN DATUMEN I ALLA ERA VÄNNERS KALENDRAR, för ingen vill missa detta </p>
	    </div>
	    <div class="col-sm-4"> 
	      <p>Vilka fantastiska spexare vi har ❤ Idag har det varit full fokus på spex, musikgruppen har spelat in, fest&trivsel har lagat mat, smink&kostym har sminkat och nålat, skådis har spelat upp, dans har blivit testsminkade, pr har dokumenterat och bygg har testat rekvisita 😍🎤🍝💄🎭 tagga dubbelspexets föreställing 14-15 maj kl 15! DETTA SPEKTAKEL VILL NI INTE MISSA!!!
			</p>
	    </div>
	  </div>

	   <div class="row">
	    <div class="col-sm-4">
	      <img src="/photos/dans.jpg" style="size:width:200px;height:200px;">
	    </div>
	    <div class="col-sm-4">
	      <img src="/photos/affishOrfeus.jpg" style="size:width:200px;height:200px;">
	    </div>
	    <div class="col-sm-4"> 
	      <img src="/photos/spex1516.jpg" style="size:width:200px;height:200px;">
	    </div>
	  </div>
	  </div>

	</div>
</div>

