<!-- We include the menu as it is shared across several screens.  -->
<ng-include src="'partials/menu.html'" ng-controller="MenuCtrl"></ng-include>

<div class="outerContainer">
	<div class="container bg-1 text-center">
		<h1>Dubbelspexet 2017!</h1>
		<p> För nuvarande söker vi medlemmar till spexet, så om du är intresserad tveka inte på att ansöka! </p>
		<p><a href="https://goo.gl/forms/gM6gt3lxM1CXniyR2 ">Klicka här för intresseanmälan!</a></p>
	</div>

	<div class="container-fluid bg-3 text-center"> 
	  <h3>Våra senaste bilder!</h3>
	  <div class="row">
	    <div class="col-sm-4">
	      <p>Direktionen är och upplever Jubelspexet, ett av våra fantastiska vänspex.
	Det är ett av många spex som sätter upp nu i vår och vi ska försöka se alla!</p>
	      <img src="/photos/jubelspex.jpg" style="size:width:200px;height:200px;">
	    </div>
	    <div class="col-sm-4">
	      <p>På spexmötet idag valdes Mollie till DireKTHrece tillika ordförande för resten av verksamhetsåret och Joakim till Producent, med målsättningen en uppsättning i höst!</p>
	      <img src="/photos/direktionen.jpg" style="size:width:200px;height:200px;">
	    </div>
	    <div class="col-sm-4"> 
	      <p>Såhär tacksamma är Kören för en grym premiär och fantastisk publik igår! </p>
	      <img src="/photos/kören.jpg" style="size:width:200px;height:200px;">
	    </div>
	  </div>
	</div>
</div>

