<nav class="navbar navbar-inverse navbar-fixed-top menuBar">
  <div class="container">
    <ul class="nav navbar-nav menuBarNav">
       <li class="{{isActive('/home')}}"> <a ng-href="#/home">
        <span class="glyphicon glyphicon-info-sign menuIcon"></span><br>Time Tracker</a>
        </li>
      <li class="{{isActive('/add')}}"><a ng-href="#/add">
      	<span class='glyphicon glyphicon-plus-sign menuIcon'></span><br>Add event</a>
      </li>
      <li class="{{isActive('/statistics')}}"><a ng-href="#/statistics">
      	<span class='glyphicon glyphicon-stats menuIcon'></span><br>Statistics</a>
      </li>
      <li class="{{isActive('/calendar')}}"><a ng-href="#/calendar">
      	<span class='glyphicon glyphicon-calendar menuIcon'></span><br>Calendar</a>
      </li> 
      <li class="{{isActive('/settings')}}"><a ng-href="#/settings">
      	<span class='glyphicon glyphicon-cog menuIcon'></span><br>Settings</a>
      </li>
    </ul>
  </div>
</nav>


